/* LARGER SCREENS 
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-top: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  */

/* NORMAL DESKTOP  */
@media screen and (max-width: 1200px) {
  #desktop-nav-fulltime-nav {
    display: none;
  }
  #hamburger-nav-collapsing-nav {
    display: flex;
  }
  .menu-links-fulltime-menu-links.open {
    max-height: 300px;
  }
}
