/* NORMAL DESKTOP  */
@media screen and (max-width: 1200px) {
  #fulltime-nav {
    display: none;
  }
  #collapsing-nav {
    display: flex;
  }
  .fulltime-menu-links.open {
    max-height: 300px;
  }
  .paragraph-below-nav {
    font-size: 40px;
    font-weight: 10px;
    height: 100vh;
    color: white;
    font-style: italic;
  }
  .heading-below-nav {
    font-size: 50px;
    font-weight: 10px;
    margin: 20px;
    color: greenyellow;
  }
  .fulltime-menu-links {
    background-color: #d2d9e3;
    border-radius: 20px;
  }
  .fulltime-menu-links {
    height: 20vh;
    line-height: 10px;
    width: auto;
    justify-items: auto;
  }
}
/* SMALL DEVICES (TABLETS) */
@media only screen and (max-width: 767px), (min-width: 768px) {
  .mission-vision-values {
    justify-content: space-around;
    display: flex;
  }
  .list-bulleting {
    font-size: 20px;
    font-weight: lighter;
  }
  #Contact-information-fulltime{
    width: 97%;
  }
  .box p{
    width: auto;
  }
}
/* SMALL DEVICES (PHONES) */
@media only screen and (max-width: 600px) {
  .fulltime-logo {
    font-size: 20px;
    text-transform: uppercase;
  }
  .fulltime-menu-links a {
    font-size: 15px;
    height: 1.5rem;
  }
  .heading-below-nav {
    font-size: 30px;
  }
  .paragraph-below-nav {
    font-size: 20px;
  }
  .mission-vision-values {
    display: block;
  }
  .company-summary-paragraph,
  .about-us-paragraph {
    font-size: 15px;
  }
  #about h1,
  #company-summary h1 {
    font-size: 30px;
  }
  .mission-vision-values h2 {
    font-size: 30px;
  }
  .list-bulleting {
    font-size: 15px;
    font-weight: lighter;
  }
  .project-h1 {
    font-size: 30px;
  }
  #Contact-information-fulltime{
    width: 94%;
  }
  .contact-us-page h2{
    font-size: 25px;
  }
  .icon-text p{
    font-size: 15px;
    
    width: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  .contact-container .contactinfo .box .icon-text h3{
font-size: 20px;
  }
  #TEAM-SECTION h1 {
    font-size: 30px;
  }
  .fulltime-employee-h1{
    font-size: 30px;
  }
  .footer-container li {
    font-size: 14px;
  }
  footer p {
    font-size: 12px;
  }
  .nav-footer {
    display: none;
  }
}
