@import url("https://fonts.cdnfonts.com/css/poppins");
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(223, 47%, 23%);
  --magic-color-yellow: linear-gradient(-45deg, white 30%, yellow 0%);
  --magic-color-lightgreen: linear-gradient(-45deg, white 30%, lightgreen 0%);
  --magic-color-lightblue: linear-gradient(-45deg, white 30%, lightblue 0%);
  --magic-color-tomato: linear-gradient(-45deg, white 30%, tomato 0%);
  --magic-color-purple: linear-gradient(-45deg, white 30%, purple 0%);

  /* example usage of the colors */
  /* background:linear-gradient(-45deg, white 30%,yellow 0%); */
}
/* Animation styles */
@keyframes slideheadingleft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
.company-summary-h1,
.about-us-h1,
.mission-h2,
.vision-h2,
.values-h2,
.project {
  animation-name: slideheadingleft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(0px);
}
.company-summary-paragraph,
.about-us-paragraph {
  animation-name: slideheadingleft;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(0px);
}
/* Beginning of other styles */
#about {
  /* background-color: #eee; */
  background-image: linear-gradient(-45deg, white 30%, lightblue 0%);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  padding: 20px;
  color: black;
  line-height: 2;
  font-size: 30px;
  text-align: justify;
  margin: 30px;
}
.fulltime-team-members {
  width: 90%;
  border-radius: 20px;
  margin: 30px ;
  padding: 20px;
  align-items: center;
}

#TEAM-SECTION{
  background-image: linear-gradient(-45deg, #00bcd4 50%, aqua 0%);
}

#company-summary {
  /* background-image: linear-gradient(-45deg, white 30%, tomato 0%); */
  background-image: linear-gradient(-45deg, skyblue 50%, purple 0%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  padding: 20px;
  color: white;
  line-height: 2;
  font-size: 30px;
  margin: 30px;
  text-align: justify;
}

#about h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 30px;
  color: black;
  text-align: left;
  text-transform: uppercase;
}
#company-summary h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 30px;
  color: black;
  text-align: left;
  text-transform: uppercase;
}


.mission-vision-values {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mission,
.vision,
.values {
  width: 30%;
  padding: 20px;
  margin: 20px;
  text-align: left;
  background-color: skyblue;
  border-radius: 20px;
  line-height: 2;
  font-size: 30px;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.mission-vision-values h2 {
  text-align: center;
  color: #eee;
  text-transform: uppercase;
}

.mission-vision-values p li {
  text-align: justify;
}

#container {
  max-width: 1200px;
  margin: auto;
  background: skyblue;
  overflow: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;
}

.gallery-description {
  padding: 15px;
  text-align: center;
}
.gallery img {
  width: 500px;
  height: 500px;
}
.project {
  font-size: 50px;
}
.gallery:hover {
  background: white;
  color: #ccc;
}

/* Fulltime projects styles */
.all-images-section1,
.all-images-section2,
.all-images-section3 {
  display: flex;
  background: linear-gradient(-45deg, #00bcd4 50%, aqua 0%);
  justify-content: center;
  flex-wrap: wrap; /* it is supposed to be wrap */
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}
.project {
  background: linear-gradient(-45deg, #00bcd4 30%, aqua 0%);
  justify-content: left;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-transform: capitalize;
}
.project:hover {
  text-transform: uppercase;
  color: white;
  /* background-color: white */
}
.card-images {
  background: white;
  width: 100%;
  /* height: 100%; height: 400px; */
  margin: 10px;
}
#All-fulltime-projects,
.all-images-section1,
.card-images h2 p {
  font-size: 40px;
  font-style: italic;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.fulltime-projects {
  height: 1000px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.project-1 {
  background-image: url(projects/lakewood.jpeg);
}
.project-2 {
  background-image: url(projects/kitengela.jpeg);
}
.project-3 {
  background-image: url(projects/syokimau.jpeg);
}
.project-4 {
  background-image: url(projects/cctv.jpeg);
}
.project-5 {
  background-image: url(projects/electric_fence.jpeg);
}
.project-6 {
  background-image: url(projects/electric_wiring_installation.jpeg);
}
.project-7 {
  background-image: url(projects/embu.jpeg);
}
.project-8 {
  background-image: url(projects/embu_floodlights.jpeg);
}
.project-9 {
  background-image: url(projects/nyahururu.jpeg);
}

.card-images:hover {
  background-color: var(--pale-blue);
  color: royalblue;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 2s ease-out;
}

/* THIS IS A TEST DRIVE FOR GITHUB */
/* THIS IS A TEST DRIVE FOR GITHUB */
/* THIS IS A TEST BY BMK DRIVE FOR FULLTIME */