@import url("https://fonts.cdnfonts.com/css/poppins");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(223, 47%, 23%);
  --magic-color-yellow: linear-gradient(-45deg, white 30%, yellow 0%);
  --magic-color-lightgreen: linear-gradient(-45deg, white 30%, lightgreen 0%);
  --magic-color-lightblue: linear-gradient(-45deg, white 30%, lightblue 0%);
  --magic-color-tomato: linear-gradient(-45deg, white 30%, tomato 0%);
  --magic-color-purple: linear-gradient(-45deg, white 30%, purple 0%);

  /* example usage of the colors */
  /* background:linear-gradient(-45deg, white 30%,yellow 0%); */
}

.company-summary-h1,
.about-us-h1,
.mission-h2,
.vision-h2,
.values-h2,
.project {
  animation-name: slideheadingleft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(0px);
}
.company-summary-paragraph,
.about-us-paragraph {
  animation-name: slideheadingleft;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(0px);
}
/* Beginning of other styles */
#about {
  /* background-color: #eee; */
  background-image: linear-gradient(-45deg, #fddcc356 60%, lightblue 0%);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  padding: 20px;
  color: black;
  line-height: 2;
  font-size: 30px;
  text-align: justify;
  margin: 30px;
}
.fulltime-team-members {
  width: 90%;
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  align-items: center;
}

#TEAM-SECTION {
  text-align: center;
  background: linear-gradient(-45deg, #fddcc356 30%, purple 0%);
  border-radius: 20px;
  margin: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}
#TEAM-SECTION h1 {
  text-transform: uppercase;
  text-align: center;
  /* background: linear-gradient(-45deg, white 30%, skyblue 0%); */
  background: linear-gradient(-45deg, #fddcc356 30%, white 0%);
  border-radius: 20px;
  margin: 20px;
  color: skyblue;
  font-family: "Poppins", sans-serif;
}

#company-summary {
  /* background-image: linear-gradient(-45deg, white 30%, tomato 0%); */
  background-image: linear-gradient(-45deg, #fddcc356 50%, purple 0%);
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  padding: 20px;
  /* color: white; */
  line-height: 2;
  font-size: 30px;
  margin: 30px;
  text-align: justify;
  font-weight: bolder;
}

#about h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: left;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 20px;
}
#company-summary h1 {
  font-family: "Poppins", sans-serif;
  padding-bottom: 30px;
  color: white;
  text-align: left;
  text-transform: uppercase;
  /* background: linear-gradient(-45deg, white 50%, skyblue 0%); */
}

.mission-vision-values {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  float: right;
}

.mission,
.vision,
.values {
  width: 30%;
  padding: 20px;
  margin: 20px;
  text-align: left;
  background-color: #fddcc356;
  border-radius: 20px;
  line-height: 2;
  font-size: 30px;
  color: black;
  font-weight: bolder;
}

.mission-vision-values h2 {
  text-align: center;
  background: linear-gradient(-45deg, #fddcc356 30%, purple 0%);
  border-radius: 20px;
  margin: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.mission-vision-values p li {
  text-align: justify;
}

#All-fulltime-projects .project {
  text-align: center;
  /* background: linear-gradient(-45deg, #fddcc356 30%, purple 0%); */
  border-radius: 20px;
  margin: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* Animation styles */
@keyframes slideheadingleft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 767px),
  (min-width: 768px){
    .mission-vision-values{
      /* /* display: flex; */
      align-items: center;
      /* width: 100%; */
      justify-content: space-around;
      display: flex;

    }
  }

