/* GENERAL STYLES   */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik+Doodle+Triangles&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* p {
  color: rgb(85, 85, 85);
} */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(223, 47%, 23%);
  --magic-color-yellow: linear-gradient(-45deg, white 30%, yellow 0%);
  --magic-color-lightgreen: linear-gradient(-45deg, white 30%, lightgreen 0%);
  --magic-color-lightblue: linear-gradient(-45deg, white 30%, lightblue 0%);
  --magic-color-tomato: linear-gradient(-45deg, white 30%, tomato 0%);
  --magic-color-purple: linear-gradient(-45deg, white 30%, purple 0%);

  /* example usage of the colors */
  /* background:linear-gradient(-45deg, white 30%,yellow 0%); */
}
/* TRANSITIONS */
a,
.btn {
  transition: all 300ms ease;
}
/* DESKTOP NAV */
.FULLTIME-NAVIGATION-SECTION {
  /* background-color: green; */
}
.logo-fulltime img {
  height: 8rem;
}
nav,
.nav-links-fulltime-nav-links {
  display: flex;
  
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: #d2d9e3;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
/* nav:hover {
  background: linear-gradient(-45deg, white 30%, skyblue 0%);
} */

.nav-links-fulltime-nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #b5b5b5;
}
.logo-fulltime-logo {
  font-size: 2rem;
}
.logo-fulltime-logo:hover {
  cursor: default;
}
/* FULLTIME MENU */
#hamburger-nav-collapsing-nav {
  display: none;
}
.hamburger-menu-collapsing-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon-collapsing-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon-collapsing-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links-fulltime-menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  
}
.menu-links-fulltime-menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links-fulltime-menu-links li {
  list-style: none;
}
.menu-links-fulltime-menu-links.open {
  max-width: 300px;
}
.hamburger-icon-collapsing-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon-collapsing-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon-collapsing-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon-collapsing-icon {
  transform: none;
}
.hamburger-icon-collapsing-icon {
  opacity: 1;
}
.hamburger-icon-collapsing-icon {
  transform: none;
}

/* CONTENT BELOW NAVIGATION */
.content-below-navigation {
  width: 97%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)),
    url("images/panel.jpeg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  color: white;
  text-align: center;
  align-items: center;
}

.heading-below-nav {
  font-size: 70px;
  font-weight: 10px;
  margin: 20px;
}
.paragraph-below-nav {
  font-size: 30px;
  font-weight: 10px;
  height: 100vh;
  color: greenyellow;
  font-style: italic;
}
.button-link-below-nav{
  color: greenyellow;
}

/* OTHER TRANSITIONS BORROWED FROM TRIAL */
.slide-left {
  animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

p.slide-left {
  animation-delay: 2s;
}

.links.slide-left {
  animation-delay: 3s;
}
/* FOOTER */
footer {
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background: #594848;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}